.ydb-table-form-secondary-key {
    position: relative;

    width: 100%;

    &_invalid {
        --g-color-line-generic: var(--g-color-line-danger);
    }

    &__type {
        color: var(--g-color-text-secondary);
    }

    &__overlay {
        position: absolute;
        z-index: 1;
        inset: 0;

        opacity: 0.5;
        background: var(--g-color-base-background);
    }
}
