.ydb-range-input-picker {
    width: 100%;

    &__input {
        width: 100%;
    }

    &__slider {
        position: relative;
        z-index: 1;

        margin-top: -8px;

        .g-slider__top {
            display: none;
        }

        .g-base-slider__rail {
            visibility: hidden;
        }
    }
}
